::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: block;
}
